@import "config";

.home{
    justify-content: center;
    text-align: center;
    padding-top: 7vh;
    
    width: 100%;
    letter-spacing: 0.25rem;
    

    
    .myName{
        font-size: 2.7rem;
         color: white;
        .lastName{
            color: $secundary-color;
        }
        border-bottom: 2px solid $secundary-color;
    }
    .title{
        font-size: large;
        color: $detail-color;
    }
}
.container{
    width: 70vw;
    display: block;
    position: fixed;
    margin-left: 14vw;
    margin-right: 14vw;
    


    
    text-align: center;
}
.c1{
    height: 18vh;
    margin: 1vh;
    border-radius: 10px;
    
    padding-top: 8vh;
    padding-bottom: 8vh;

}

.swiper-container {
    width: 70vw;
    padding-top: 3vh;
    padding-bottom: 50px;
    z-index: 0;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 40vh;
}
.my-work{
    width: 80vw;
    margin: 0 auto;
}
h5{
    color:white;
    
    padding: 0;
    margin: 1rem;
    
   
}
.btn{
    
    text-align: left;
    float: right;
    
    top: 5vh;
    right: 10vw;
    font-size: 16px;
    
    i{
        top: 1vh;
        font-size: 12px;
    }
}
